.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.item {
  background: #79c2ff;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}

/* max-width 1000px */
@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

/* max-width 768px */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* max-width 480px */
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
